<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Non Ci Resta Che Guardare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name="unitn.app.Profile"
            android:exported="false" />
        <activity
            android:name="unitn.app.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="unitn.app.SignIn"
            android:exported="false" />
        <activity
            android:name="unitn.app.AggiungiMedia"
            android:exported="false" />
        <activity
            android:name="unitn.app.DettaglioMedia"
            android:exported="false" />
        <activity
            android:name="unitn.app.Ricerca"
            android:exported="false" />
        <activity
            android:name="unitn.app.HomePage"
            android:exported="false" />
    </application>

</manifest>